@charset "utf-8";

:-moz-placeholder {
	color: blue;
}

::-webkit-button-placeholder {
	color: blue;
}

article.stats_graph {
	font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode",
		sans-serif;
	width: 100%;
}

.info_form h2,.info_form label {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.form_hint,.required_notification {
	font-size: 11px;
}

.info_form ul {
	width: 100%;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

.info_form li {
	padding: 12px;
	border-bottom: 1px solid #eee;
	position: relative;
	list-style: none;
}

.info_form li:first-child,.info_form li:last-child {
	border-bottom: 1px solid #eee;
}

.info_form h2 {
	margin: 0;
	display: inline;
}

.required_notification {
	color: #d45252;
	margin: 5px 0 0 0;
	display: inline;
	float: right;
}

.info_form label {
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
}

.info_form input {
	height: 20px;
	width: 220px;
	padding: 5px 8px;
}
.info_form select {
	height: 35px;
	width: 260px;
	padding: 5px 8px;
}

.info_form textarea {
	padding: 8px;
	width: 300px;
}

.info_form button {
	margin-left: 156px;
}

.info_form input, .info_form textarea ,.info_form select{ 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.info_form input:focus, .info_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}
/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
     
}
.info_form input:focus, .info_form textarea:focus { /* add this to the already existing style */
    padding-right:70px;
}

.info_form input, .info_form textarea ,.info_form select{ /* add this to the already existing style */
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

.info_form input, .info_form textarea ,.info_form select{
    padding-right:30px;
}

input:required, textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}
.info_form input:focus:invalid, .info_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.info_form input:required:valid, .info_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.info_form input:focus + .form_hint {display: inline;}
.info_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.info_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */


.info_form button:required:valid+.form_hint {
	background: #28921f;
} /* change form hint color when valid */
.info_form button:required:valid+.form_hint::before {
	color: #28921f;
} /* change form hint arrow color when valid */


#modal {
    width:360px;
    height:189px;
    padding:8px;
 
    background:rgba(0,0,0,.3);
 
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
 
    position:absolute !important;
    top:50% !important;
    left:50% !important;
    margin-top:-94px !important;
    margin-left:-180px !important;
    z-index:101;
    
}

#heading {
    width:360px;
    height:44px;
 
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
 
    border-bottom:1px solid #bababa;
 
    -webkit-box-shadow:
        inset 0px -1px 0px #fff,
        0px 1px 3px rgba(0,0,0,.08);
    -moz-box-shadow:
        inset 0px -1px 0px #fff,
        0px 1px 3px rgba(0,0,0,.08);
    box-shadow:
        inset 0px -1px 0px #fff,
        0px 1px 3px rgba(0,0,0,.08);
 
    -webkit-border-radius:4px 4px 0px 0px;
    -moz-border-radius:4px 4px 0px 0px;
    border-radius:4px 4px 0px 0px;
 
    font-size:14px;
    font-weight:bold;
    text-align:center;
    line-height:44px;
 
    color:#444444;
    text-shadow:0px 1px 0px #fff;
}

#content {
    width:360px;
    height:144px;
 
    background:#fcfcfc;
 
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    box-shadow:0px 1px 3px rgba(0,0,0,.25);
 
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    border-radius:0px 0px 4px 4px;
}
 
#content p {
    font-size:13px;
    font-weight:normal;
    text-align:center;
    line-height:22px;
    color:#555555;
 
    width:100%;
    float: left;
 
    margin:19px 0;
}

.button {
    width:138px;
    height:33px;
 
    font-size:13px;
    font-weight:bold;
    line-height:33px;
 
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.2);
 
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.5),
        0px 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.5),
        0px 1px 2px rgba(0,0,0,.3);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.5),
        0px 1px 2px rgba(0,0,0,.3);
 
    float:left;
}
.button img { 
    float:left;
    width:33px;
    height:33px;
}
 
 
 
.button.green {
    background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
 
    border:1px solid #5b8821;
 
    margin:0 5px 0 35px;
}
.button.red {
    background: -webkit-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -moz-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    background: linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87288', endColorstr='#ce3b46',GradientType=0 );
 
    border:1px solid #b0333e;
 
    margin:0 35px 0 5px;
}

.reveal-modal-bg { 
    position: fixed; 
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.4);
    z-index: 100;
    display: none;
    top: 0;
    left: 0; 
}
#content a{
	color: white;
}

#progressbox {
    border: 1px solid #0099CC;
    padding: 1px; 
    position:relative;
    width:260px ;
    height: 10px;
    border-radius: 3px;
    margin: 8px 0 10px 155px; 
    display:none;
    text-align:left;
}
#progressbar {
    /*height:20px;*/
    /*left:50;*/
    /*position: absolute;*/
    height: 100%;
    text-align: center;
    border-radius: 3px;
    background-color: #77BACE;
    width:1%;
}
.textStatus {
    /*top:3px;*/
    /*height: 100%;*/
    /*left:45%;*/
    font-size: 80%;
    /*position:absolute;*/
    /*display:inline-block;*/
    color: #000000;
}
@media only screen and (max-width: 767px) {
         
    #modal {
        width:284px;
        height:156px;
        padding:8px;
 
        margin-left:-150px !important;
        margin-top:-78px;
    }
    #heading {
        width:284px;
        height:28px;
 
        line-height:28px;
        font-size:0.688em;
    }
    #content {
        width:284px;
        height:128px;
    }
    #content p {
        width:284px;
        font-size:0.688em;
    }
    .button img { 
        width:23px;
        height:23px;
    }
    .button {
        width:108px;
        height:23px;
 
        line-height:23px;
        font-size:0.688em;
    }
    .button.green {
        margin:0 4px 0 28px !important;
    }
    .button.red {
        margin:0 28px 0 4px !important;
    }


}