body{
	background-color: #f6f6f6;
}
/*Top Header*/
.top-header{
	border-bottom: 2px solid #d3d3d3;
}
.main-header{
	width: 25%;
	min-height: 100px;
	/*border: 1px solid black;*/
	font-size: 200%;
	line-height: 2.5em;
	font-family: sans-serif;
	padding-left: 20px;
	float: left;
	color: #505050;
	margin-left: 5%;	
	font-family:Arial;
	
}
.main-nav{
	width: 68%;
	min-height: 100px;
		/*border: 1px solid black;*/
	float: left;
}
.main-nav ul{
	padding-right: 20px;
}
.main-nav ul li{
	display: inline-block;
	float: right;
	/*margin-left: 30px;*/
	width: 90px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	margin-top: 1.5em;	
	padding-top: 8px;
	color: #6c6c6c;
	/*margin-right: 30px;*/
}
.main-nav ul li a{text-decoration: none;}
.nav-active{
	border: 1px solid #d8d8d8;
}
.main-nav ul li:hover{
	cursor: pointer;
	border: 1px solid #d8d8d8;
}
.clear{
	clear: both;
}

/*Main Contents*/
#slider{
	width: 80%;
	height: 400px;
	margin: 30px auto;
	-webkit-box-shadow: 2px 7px 55px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 7px 55px -13px rgba(0,0,0,0.75);
	box-shadow: 2px 7px 55px -13px rgba(0,0,0,0.75);
	/*border:1px solid black;*/
	overflow: hidden;
	position: relative;
}
.slides{
	width: 6000px;
	height: 100%;
	list-style: none;
	display: block;
	position: absolute;
	bottom: 0;
}
.slide{
	width: 1072px;;
	height: 100%;
	float: left;
}
.slides img{
	width: 100%;
	height: 100%;
}
.content{
	width: 90%;
	margin: 0px auto;
	min-height: 300px;
	/*border:1px solid black;*/
}
.portfolio {
	width: 100%;
	margin-top: 30px;

}
.title-pro{
	width: 80%;
	/*border:1px solid black;*/
	font-size: 150%;
	min-height: 60px;
	float: left;
	color: #595959;
}
.viewpro{
	width: 15%;
	border: 1px solid black;
	min-height: 30px;
	float: right;
	font-size: 130%;
	border-radius: 10px;
	margin-left: 20px;
	padding-top: 10px;
	border:1px solid #d7d7d7;
	border-bottom: 5px solid #d7d7d7;
	text-align: center;
	opacity: 0.7;
}
.viewpro:hover{
	opacity: 1;
}
.viewpro a{
	text-decoration: none;
	color: #919191;
	font-weight: bold;
}
.main-content{
	width: 100%;
	min-height: 150px;
	margin-top: 30px;
	/*border :1px solid black;*/
	position: relative;
}
.art-detail:first-child{
	margin-left: 0px;
}
/*.art-detail:last-child{
	position: absolute;
	right: 0px;
	margin-left: 0px;
}*/
.art-detail{
	width: 31.5%;
	min-height: 100px;
	/*border :1px solid black;*/
	float: left;
	/*margin-left: 0px;*/
	margin-right:20px;
	margin-bottom: 20px;
}
.art-img{
	width: 100%;
	height: 140px;
	/*border :1px solid black;*/
}
.art-img img{
	width: 100%;
	height: 100%;
}
.art-header{
	width: 97%;
	/*height: 20px;*/
	/*border: 1px solid black;*/
	font-size: 120%;
	padding-left: 5px;
	color: #787878;
	margin-top: 5px;
	/*font-family: serif;*/
}
.art-header a{
	text-decoration: none;
	color: #505050;
	font-family: sans-serif;
}
.art-content{
	width: 97%;
	min-height: 100px;
	height: auto;
	/*border:1px solid black;*/
	color: #505050;
	padding-left: 5px;
	margin-top: 5px;
	text-indent: 0.5em;
	overflow: hidden;
	text-align: justify;
}

/*Main Footer*/
.main-footer{
	width: 100%;
	min-height: 300px;
	/*border: 1px solid black;*/
	background-color: #242522;
	padding-top: 20px;
}
.art-footer{
	width: 20%;
	min-height: 165px;
	/*border:1px solid white;*/
	float: left;
	margin-left: 35px;
	color: #f6f6f6;

}
.art-footer:first-child{
	margin-left: 5%;
}
.art-footer-header{
	width: 100%;
	height: 30px;
	line-height: 1.5em;
	border-bottom:2px groove #353535;
	font-size: 120%;
}
.art-footer-header a{
	text-decoration: none;
	color: #f1f1f1;

}
.art-footer ul {
	display: block;
	min-height: 120px;

}
.art-footer li{
	display: block;
	margin-top: 8px;
	border-bottom: 2px groove #353535;
	padding-bottom:8px; 
	font-size: 90%;
}
.art-footer li a{
	text-decoration: none;
	color: #d7d7d7;
}
.newsletter{
	width: 20%;
	min-height: 165px;
	/*border:1px solid white;*/
	float: right;
	margin-right: 5%;
	color: #f6f6f6;
}
.art-newsletter-header {
	width: 100%;
	height: 30px;
	line-height: 1.5em;
	border-bottom:2px groove #353535;
	font-size: 120%;

}
.art-newsletter-header a{
	text-decoration: none;
	color: #f6f6f6;
}
.newsletter p{
	margin-top: 8px;
	margin-bottom: 15px;
	font-size: 90%;
}
.sub{
	width: 100%;
}
.form-wrapper{
	width: 100%;
	min-height: 68px;
	position: relative;
}
input[type="email"]{
	width: 98%;
	border:2px solid #1d1d1d;
	border-radius: 5px ;
	height: 25px;
	background-color: #232323;
	color: white;
}
button[type="submit"]{
	width: 30%;
	border-radius: 5px;
	height: 25px;
	position: absolute;
	right: 0px;
	top:3px;
	
}

#btop{
	display: none;
	position:fixed;
	bottom: 0px;
	right: 0px;
	/*right: 0px;*/

}
.social{
	position: fixed;
	right: 0;
	top:50%;
}
.social ul{
	list-style: none;
}
.change-font{
	font-family: "Arial", sans-serif;
	/*font-size: 20px;*/
}